<section id="search" class="container row">
    <div class="col-12-md col-12-lg">
        <h1>Enter your password:</h1>
        <form action="/" class="search-form">
            <i class="fas fa-search"></i>
            <input type="password" name="password">
            <input type="submit" value="Enter">
        </form>
        <a href="/?password=" class="btn btn-light mt-4">Visit Pet App</a>
        <a href="/data/psychotics-routes" class="btn btn-light mt-4">Visit API</a>
    </div>
  </section>